//@import "../../images/rattlesnake.jpg";

body {
  background-color: $color-aliceblue;
  background-image: url("../images/mojito.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
