$font-logo: 'Kurale', serif;
$font-main: 'Open Sans', sans-serif;
$font-card-names: 'Raleway', sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-logo: #27354f;
$main-background: #dee9e9;
$color-filters-button: #a5c0bb;
$color-filters-button-hover: #26354f;
$color-card-box-shadow: #b6bdbd;
$color-card-border: #fee0b4;

