@import "../abstracts/variables";

.footer__contact {
  margin-bottom: 20px;
}

.contact__link {
  text-decoration: none;
  color: $color-text-link;
  font-weight: 400;
}


@media (min-width: 451px) {
  .footer__contact {
    margin-bottom: 5%;
  }
}

@media (min-width: 769px) {
  .footer__contact {
    margin-bottom: 0;
  }
}