//@import "../abstracts/variables";
//@import "../abstracts/mixins";


.main-content__drink-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  box-shadow: 0 0 70px 5px $color-card-box-shadow;
  width: 100%;
  margin-bottom: 10%;
}

.card__image-wrapper {
  @include elastic-media-wrapper(100%);

  //position: relative;
  //height: 0;
  //padding-bottom: 100%;
  overflow: hidden;
}

.card__image {
  @include elastic-medium(120%, 120%);

  //position: absolute;
  //width: 120%;
  //height: 120%;

  @include center-absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
}

.card__name {
  position: absolute;
  @include center-absolute;
  z-index: 1;
  font-family: $font-card-names;
  font-weight: 900;
  letter-spacing: 2.2px;
  color: $color-white;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2;
  font-size: 9vw;
}

.card__border {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px $color-card-border inset;
}

.card {
  &--selected,
  &:hover {
    .card__border {
      display: initial;
    }
  }
}


/* Media Queries */

@media (min-width: 451px) {
  .card {
    width: 47%;
    margin-right: 0;
    margin-bottom: 5%;
  }

  .card__name {
    font-size: 5vw;
  }
}

@media (min-width: 769px) {
  .main__drink-cards {
    justify-content: flex-start;
  }
  .card {
    width: 30.3333%;
    margin-right: 3%;
  }

  .card__name {
    font-size: 3.5vw;
  }
}
@media (min-width: 1101px) {
  .card {
    width: 27.3333%;
    margin-right: 6%;
  }

  .card__name {
    font-size: 40px;
  }
}