@import "../abstracts/variables";

.main-content__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.filters__button {
  position: relative;
  font-family: $font-main;
  font-weight: 300;
  color: $color-filters-button;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding: 10px 0;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0;
    height: 1px;
    background-color: $color-filters-button-hover;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    color: $color-filters-button-hover;

    &:after {
      visibility: visible;
      width: 75%;
    }
  }

  &--selected {
    color: $color-filters-button-hover;

    &:after {
      visibility: visible;
      width: 75%;
    }
  }
}



@media (min-width: 401px) {
  .filters__button {
    font-size: 18px;
    padding: 15px 0;
  }
}

@media (min-width: 451px) {
  .main-content__filters {
    margin-top: 7%;
  }
}

@media (min-width: 551px) {
  .main-content__filters {
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  .main-content__filters {
    margin-bottom: 7%;
  }
}

@media (min-width: 1101px) {
  .filters__button {
    width: unset;
    text-align: left;
  }

  .main-content__filters {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
  }
}