@import "../abstracts/variables";

.main__filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters__button {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 300;
  color: $color-filters-button;
  border: none;
  background-color: transparent;
  padding: 15px 0;
  cursor: pointer;
  outline: none;
}

.filters__button:hover {
  color: $color-filters-button-hover;
}




@media (max-width: 1100px) {
  .filters__button {
    width: 100%;
    text-align: center;
  }

  .main__filters {
    display: block;
    text-align: center;
    margin-bottom: 7%;
  }
}

@media (max-width: 550px) {
  .main__filters {
    margin-top: 7%;
  }
}

@media (max-width: 450px) {
  .main__filters {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (max-width: 400px) {
  .filters__button {
    font-size: 14px;
    padding: 10px 0;
  }
}