.footer__social-media {
  display: flex;
  align-items: center;
}

.social-media__text {
  margin-right: 10px;
}

.social-media__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__link {
  text-decoration: none;
  color: $color-icon-link;
  padding: 8px;
  margin-left: 6px;

  &:hover {
    color: $color-text-link;
  }
}


/* Media Queries */

@media (min-width: 401px) {
  .icons__link {
    padding: 8px 12px;
  }
}

@media (min-width: 769px) {
  .footer__social-media {
    justify-content: space-between;
  }

  .icons__link:last-child {
    padding-right: 0;
  }
}
