@import "../abstracts/variables";


.footer__social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media__text {
  margin-right: 10px;
}

.social-media__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__link {
  text-decoration: none;
  color: $color-icon-link;
  margin-left: 20px;
}





//@media (max-width: 768px) {
//  .footer__social-media {
//    justify-content: flex-start;
//  }
//}


@media (min-width: 401px) {
  .icons__link {
    margin-left: 26px;
  }
}

@media (min-width: 769px) {
  .footer__social-media {
    justify-content: space-between;
  }
}
