.container {
  margin: 0 auto;
}


/* Media Queries */

@media (min-width: 1101px) {
  .container {
    max-width: 94vw;
  }
}

@media (min-width: 1901px) {
  .container {
    max-width: 1800px;
  }
}