@import "../abstracts/variables";

.container {
  margin: 0 auto;
}

//.inner-container {
//  margin: 0 auto;
//  padding: 0 15px;
//}
//
//@media (min-width: 400px) {
//  .inner-container {
//    padding: 0 30px;
//  }
//}
//
//@media (min-width: 550px) {
//  .inner-container {
//    padding: 0;
//    max-width: 85vw;
//  }
//}

@media (min-width: 1101px) {
  .container {
    max-width: 94vw;
  }
}

@media (min-width: 1901px) {
  .container {
    max-width: 1800px;
  }
}