.footer {
  font-family: $font-main;
  color: $color-footer;
  font-weight: 300;
  font-size: 14px;
  padding: 35px $padding-inner-xs;
}


/* Media Queries */

@media (min-width: 361px) {
  .footer {
    padding: 40px $padding-inner-sm;
  }
}

@media (min-width: 401px) {
  .footer {
    font-size: 18px;
  }
}

@media (min-width: 451px) {
  .footer {
    padding: 9% $padding-inner-sm;
  }
}

@media (min-width: 551px) {
  .footer {
    padding: 7% $padding-inner-md;
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 41px $padding-inner-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}





