@import "../abstracts/variables";

.footer {
  //height: 100px;
  padding: 41px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-main;
  color: $color-footer;
  font-size: 18px;
  font-weight: 300;
}


@media (max-width: 768px) {
  .footer {
    //height: 90px;
    padding: 36px 48px;
  }
}

@media (max-width: 550px) {
  .footer {
    //height: 80px;
    padding: 31px 30px;
    display: block;
  }
}

@media (max-width: 400px) {
  .footer {
    font-size: 14px;
  }

  .icons__link {
    margin-left: 18px;
  }
}
