@import "../abstracts/variables";

.header {
  position: relative;
  height: 60px;
  color: $color-logo;
  padding: 0 $padding-inner-md;
}

.header__logo {
  position: absolute;
  display: inline-block;
  font-family: $font-logo;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  padding: 12px 36px 14px;
  border: 2px solid $color-logo;
}


@media (min-width: 401px) {
  .header {
    height: 80px;
  }

  .header__logo {
    top: 63%;
    font-size: 30px;
    border-width: 3px;
    //padding: 16px 50px 20px;
    padding: 13px 40px 16px;
  }
}

@media (min-width: 551px) {
  .header {
    height: 90px;
  }

  .header__logo {
    left: unset;
    transform: none;
    //padding: 13px 40px 16px;
  }
}

@media (min-width: 769px) {
  .header {
    height: 100px;
  }

  .header__logo {
    padding: 16px 50px 20px;
  }
}


//@media (max-width: 768px) {
//  .header {
//    height: 90px;
//  }
//
//  .header__logo {
//    padding: 13px 40px 16px;
//  }
//}
//
//
//@media (max-width: 550px) {
//  .header {
//    height: 80px;
//  }
//
//  .header__logo {
//    left: 50%;
//    transform: translateX(-50%);
//  }
//}
//
//@media (max-width: 450px) {
//  .header {
//    height: 60px;
//  }
//
//  .header__logo {
//    font-size: 22px;
//    padding: 12px 36px 14px;
//    border-width: 2px;
//    top: 57%;
//  }
//}
//
