@import "../abstracts/variables";

.header {
  position: relative;
  height: 100px;
  color: $color-logo;
  padding: 0 48px;
}

.header__logo {
  position: absolute;
  top: 63%;
  display: inline-block;
  font-family: $font-logo;
  font-size: 30px;
  border: 3px solid $color-logo;
  padding: 16px 50px 20px;
}


@media (max-width: 768px) {
  .header {
    height: 90px;
  }

  .header__logo {
    padding: 13px 40px 16px;
  }
}


@media (max-width: 550px) {
  .header {
    height: 80px;
  }

  .header__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 450px) {
  .header {
    height: 60px;
  }

  .header__logo {
    font-size: 22px;
    padding: 12px 36px 14px;
    border-width: 2px;
    top: 57%;
  }
}

